{% extends 'main.html' %}

{% load static %}

{% block content %}

<p class="explanation-allrequests">Публичные запросы появляются здесь</p>
<p class="explanation-allrequests">(их видят все менторы и могут забрать себе)</p>
<div class="requests-box">
    <div class="requests-list-background">
        <div class="requests-list">
            {% for project in projects %}
            {% if project.is_completed == False%}
            {% if project.is_accepted == False  %}
                <div class="request-background">
                    <div class="request-name">
                        <a href="{% url 'onerequest' project.id %}" class="request-link">
                            <div class="request">
                                <div class="request-2">
                                    <p>Название:</p><p style="display: flex; justify-content: flex-start; margin-top: -30px; margin-bottom: 10px;">{{project.title|slice:20}}</p>
                                </div>
                                <div class="request-2">
                                    <p>Ученик: </p><p style="display: flex; justify-content: flex-start; margin-top: -30px;">{{project.student}}</p>
                                </div>
                                <div class="request-2">
                                    {% if project.student.classs %}
                                    <p>Класс: </p><p style="display: flex; justify-content: flex-start; margin-top: -30px;">{{project.student.classs}}</p>
                                    {% endif %}
                                </div>
                                <div class="request-2">
                                    <p>Предмет: </p><p style="display: flex; justify-content: flex-start; margin-top: -30px;">{{project.subject}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            <div class="requests-list-last-project">
                Это все запросы
            </div> 
        </div>
    </div>
</div>

{% endblock content %}