{% extends 'main.html' %}

{% load static %}

{% block content %}

<p class="explanation-allrequests">Публичные запросы появляются здесь</p>
<div class="requests-box">
    <div class="requests-list-background">
        <div class="requests-list">
            {% for project in projects %}
            {% if project.is_completed == False%}
            {% if project.is_accepted == False  %}
                <div class="request-background">
                    <div class="request-name">
                        <a href="{% url 'onerequest' project.id %}" class="request-link">
                            <div class="request">
                                {{project.title}}
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            <div class="requests-list-last-project">
                Это все запросы
            </div> 
        </div>
    </div>
</div>

{% endblock content %}