            <!--<div class="apply-teacher">
                Are you a teacher?
            </div>
            <a class="apply-teacher-link" href="{% url 'applyforteacher' %}">
                <button class="apply-teacher-btn">
                     Apply for Teacher
                </button>
            </a>-->
            <!--{% elif page == 'teacher' %}
                <p>Apply for teacher's role</p>
                <p>We will review your application and respond to you through email that is written in your profile</p>
                <form class="apply-teacher-form" method="POST">
                    {% csrf_token %}
                    <button class="apply-teacher-form-btn" name="apply-teacher-form-btn">
                        Apply
                    </button>
                </form>
            <a class="apply-mentor-link" href="{% url 'applyformentor' %}">
                <button class="apply-mentor-btn">
                    Apply for Mentor
                </button>
            </a>-->