{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="apply-box">
    <div class="apply-background">
        <div class="apply-form">
            {% if page == 'mentor' %}
                <form class="apply-mentor-form" method="POST">
                    {% csrf_token %}
                    Подать заявку на роль ментора
                    <button class="apply-mentor-form-btn" name="apply-mentor-form-btn">
                        Apply
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}