{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="mentors-box">
    <div class="mentors-list-background">
        <div class="mentors-list">
            <p>
                Политика конфиденциальности веб-приложения "Поиск ментора"<br>

                1. Сбор и использование данных<br>
                1.1. При регистрации в приложении пользователь предоставляет свои личные данные, включая имя, фамилию, адрес электронной почты, возраст, учебное заведение, класс/курс, предметы, в которых требуется помощь, а также предпочтения относительно ментора. Эти данные используются для обеспечения более эффективного поиска подходящего ментора.<br>
                1.2. Данные менторов также собираются и используются в приложении, включая имя, фамилию, возраст, учебное заведение, предметы, в которых ментор готов оказывать помощь, а также рейтинг и отзывы от учеников. Данные менторов могут просматриваться учителями, чтобы оценить качество работы менторов и принимать решения о назначении их на должности помощников.<br>
                1.3. Приложение может использовать данные пользователей для общей статистики, такой как количество пользователей, количество учеников и менторов, а также предпочтения пользователей в отношении предметов и тематик. Эти данные используются только для внутренних целей и не разглашаются третьим сторонам.<br>

                2. Хранение данных<br>
                2.1. Личные данные пользователей хранятся на серверах приложения и защищены паролем и шифрованием. Приложение использует стандартные меры безопасности для защиты данных пользователей от несанкционированного доступа, изменения и раскрытия.<br>
                2.2. Данные могут быть храниться на серверах приложения в течение необходимого времени. Пользователи могут запросить удаление своих данных в любой момент.<br>

                3. Разглашение данных<br>
                3.1. Приложение не продает, не обменивает и не передает личные данные пользователей третьим сторонам без их явного согласия.<br>
                3.2. Данные пользователей могут быть переданы учителям для целей обеспечения эффективной работы менторов и для принятия решений о назначении их на должности помощников.<br>
                3.3. Приложение может разглашать личные данные пользователей, если это требуется в соответствии с законодательством или судебным решением.<br>

                4. Изменения политики<br>
                4.1. Политика конфиденциальности может быть изменена приложением в любое время. Пользователи будут уведомлены о любых изменениях в политике конфиденциальности на странице "Политика конфиденциальности" на веб-сайте приложения и/или по электронной почте, указанной при регистрации в приложении.<br>
                4.2. Пользователи могут продолжать использовать приложение только в случае, если они согласны с новой политикой конфиденциальности.<br>

                5. Контакты<br>
                5.1. Если у пользователей есть вопросы или комментарии относительно политики конфиденциальности, они могут связаться с нами по адресу электронной почты, указанному на веб-сайте приложения.<br>
                5.2. Приложение будет стараться ответить на все запросы в течение разумного срока.<br>

                6. Принятие политики конфиденциальности<br>
                6.1. При регистрации в приложении, пользователи должны прочитать и принять эту политику конфиденциальности. Принимая эту политику конфиденциальности, пользователи подтверждают свое согласие на сбор, использование и разглашение своих личных данных в соответствии с этой политикой конфиденциальности.<br>
                
                7. Срок хранения данных<br>
                7.1. Приложение будет хранить личные данные пользователей только в течение периода, необходимого для достижения целей, описанных в этой политике конфиденциальности.<br>
                7.2. Если пользователь желает удалить свои личные данные из приложения, он может связаться с администрацией приложения по адресу электронной почты, указанному на веб-сайте приложения.<br>

                8. Защита данных<br>
                8.1. Приложение принимает все необходимые меры для защиты личных данных пользователей от несанкционированного доступа, изменения, раскрытия или уничтожения.<br>
                8.2. Приложение использует надежные методы сбора, хранения и обработки личных данных пользователей.<br>
                8.3. Доступ к личным данным пользователей имеют только те сотрудники или контрагенты приложения, которые должны знать эти данные для выполнения своих задач и обязанностей, и они обязаны обеспечивать конфиденциальность этих данных.<br>

                9. Конфиденциальность несовершеннолетних<br>
                9.1. Приложение не предназначено для использования несовершеннолетними без разрешения родителей или опекунов.<br>
                9.2. Приложение не собирает сознательно личных данных несовершеннолетних без разрешения родителей или опекунов.<br>

                10. Согласие на обработку личных данных<br>
                10.1. Пользователи, используя приложение, выражают свое согласие на сбор, использование и раскрытие своих личных данных в соответствии с этой политикой конфиденциальности.<br>
                10.2. Пользователи гарантируют, что предоставленные ими данные точны и полны.<br>

                Эта политика конфиденциальности была последний раз обновлена 05.03.2023.<br>
                При возникновении вопросов обращаться по адресу onlystudentsapp@gmail.com<br>
            </p>
        </div>
    </div>
</div>

{% endblock content %}