{% extends 'main.html' %}
{% load static %}
{% block content %}

{% if page == 'register' %}
<div class="registration-background">
    <h3>Account Sign Up</h3>
    <p>Hello Developer, Welcome Back!</p>
    <form method="POST" action="{% url 'register' %}" class="register-form">
        {% csrf_token %}

        {% for field in form %}
            <div class="field">
                <label class="field-label">{{field.label}}</label>
                <div class="field-enter">
                    {{field}}
                </div>
            </div>
        {% endfor %}
        <div class="auth_actions">
            <button class="auth_button">Sign Up</button>
            <div class="auth_alternative">
                <p>Already have an account?</p>
                <a href="{% url 'login' %}">Log In</a>
            </div>
        </div>
    </form>
</div>

{% else %}
<form action="{% url 'login' %}" method="POST" class="login-form">
    {% csrf_token %}
    <h3>Account Login</h3>
    <p>Hello Developer, Welcome Back!</p>
    <div class="field-enter">
        <label>Username:</label>
        <input class="username-input" name="username" placeholder="Enter your username...">
    </div>
    <div class="field-enter">
        <label>Password:</label>
        <input class="password-input" name="password" placeholder="Enter your password...">
    </div>
    <div class="auth-actions">
        <button class="login-button">Log In</button>
        <a href="">Forget Password?</a>
        <p>Dont have an Account?</p>
        <a href="{% url 'register' %}">Sign Up</a>
    </div>
</form>
{% endif %}

{% endblock content %}