{% extends 'main.html' %}

{% load static %}

{% block content %}


<div class="profile-box">
    <div class="profile-list-background">
        <div class="profile-list-2">
            <div class="profile-list">
                <img class="profile-image-3" src="{{profile.imageURL}}">
                <div class="profile-fields">
                    <div class="profile-field">
                        {{profile.username}}
                    </div>
                    <div class="profile-field">
                        {{profile.email}}
                    </div>
                    {% if profile.short_intro %}
                    <div class="profile-field">
                      {{profile.short_intro}}
                    </div>
                    {% endif %}
                    {% if profile.bio %}
                    <div class="profile-field">
                      {{profile.bio}}
                    </div>
                    {% endif %}
                    {% if profile.classs %}
                    <div class="profile-field">
                      <p>Класс</p>{{profile.classs}}
                    </div>
                    {% endif %}
                    <div class="profile-field">
                      <div class="profile-skills">
                        I know:
                      {% for subject in profile.subjects.all %}
                      <div class="profile-skill">
                        {{subject}}
                      </div>
                      {% endfor %}
                    </div>
                    </div>
                    <div class="profile-field">
                      <div class="profile-votes">
                        <div class="profile-vote">
                          <p class="profile-vote-label">Students helped:</p>
                          {{profile.vote_total}}
                        </div>
                        <div class="profile-vote">
                          <p class="profile-vote-label">Rating:</p>
                          {{profile.vote_ratio}}
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            {% if profile != request.user.profile %}
              <div class="profile-buttons">
                {% if profile.role == 'mentor' %}
                <a class="profile-send-request-link" href="{% url 'projectform' profile %}">
                  <button class="profile-send-request-button">
                    <div class="svg-wrapper-1">
                      <div class="svg-wrapper">
                        <svg class="arrow" viewBox="0 0 24 24" width="24" height="24">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                        </svg>
                      </div>
                    </div>
                    <span>Send Request</span>
                  </button>
                </a>
                {% endif %}
                <a class="profile-create-messageroom-link" href="{% url 'createmessageroom' profile %}">
                  <button class="profile-create-messageroom-button">
                    <div class="svg-wrapper-1">
                      <div class="svg-wrapper">
                        <svg class="plus" viewBox="0 0 24 24" width="24" height="24">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                        </svg>
                      </div>
                    </div>
                    <span>Chat</span>
                  </button>
                </a>
              </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}