{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="requests-background">
    <p class="explanation-allrequests">Личные запросы появляются здесь</p>
    <p class="explanation-allrequests">(которые прислали лично вам)</p>
    <div class="buttons-2">
        <div class="button-2">
            <a href="{% url 'pendingprojects' request.user.profile.id %}">
                {% if page == 'pending' %}
                <button class="default-btn-illuminated">
                    Ожидание
                </button>
                {% else %}
                <button class="default-btn">
                    Ожидание
                </button>
                {% endif %}
            </a>
        </div>
        <div class="button-2">
            <a href="{% url 'projectsasstudent' request.user.profile.id %}">
                {% if page == 'student' %}
                <button class="default-btn-illuminated">
                    {% if request.user.profile.role != 'student' %}
                    Я Ученик
                    {% elif request.user.profile.role == 'student' %}
                    Active requests
                    {% endif %}
                </button>
                {% else %}
                <button class="default-btn">
                    {% if request.user.profile.role != 'student' %}
                    Я Ученик
                    {% elif request.user.profile.role == 'student' %}
                    Active requests
                    {% endif %}
                </button>
                {% endif %}
            </a>
        </div>
        {% if request.user.profile.role != 'student' %}
        <div class="button-2">
            <a href="{% url 'projectsasmentor' request.user.profile.id %}">
                {% if page == 'mentor' %}
                <button class="default-btn-illuminated">
                    Я ментор
                </button>
                {% else %}
                <button class="default-btn">
                    Я ментор
                </button>
                {% endif %}
            </a>
        </div>
        {% endif %}
        <div class="button-2">
            <a href="{% url 'completedprojects' request.user.profile.id %}">
                {% if page == 'completed' %}
                <button class="default-btn-illuminated">
                    Завершено
                </button>
                {% else %}
                <button class="default-btn">
                    Завершено
                </button>
                {% endif %}
            </a>
        </div>
    </div>
    <div class="requests-box">
        <div class="requests-list-background">
            <div class="requests-list">
                {% for project in projects %}
                    <div class="request-background">
                        <div class="request-name">
                            <a href="{% url 'onerequest' project.id %}" class="request-link">
                                <div class="request">
                                    <div class="request-2">
                                        <p>Название:</p><p style="display: flex; justify-content: space-around; margin-top: -30px; margin-bottom: 10px;">{{project.title}}</p>
                                    </div>
                                    <div class="request-2">
                                        <p>Ученик: </p><p style="display: flex; justify-content: space-around; margin-top: -30px;">{{project.student}}</p>
                                    </div>
                                    <div class="request-2">
                                        {% if project.student.class %}
                                        <p>Класс: </p><p style="display: flex; justify-content: space-around; margin-top: -30px;">{{project.student.classs}}</p>
                                        {% endif %}
                                    </div>
                                    <div class="request-2">
                                        <p>Предмет: </p><p style="display: flex; justify-content: space-around; margin-top: -30px;">{{project.subject}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <div class="requests-list-last-project">
                    Больше запросов нет
                </div> 
            </div>
        </div>
    </div>
</div>

{% endblock content %}