{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="buttons-1">
    <div class="button-2">
        <a href="{% url 'createpublicrequest' subject %}">
            <button class="default-btn">
                Make a public request
            </button>
        </a>
    </div>
</div>
<div class="mentors">
    <div class="mentors-box">
        <div class="mentors-list-background">
            <div class="mentors-list">
                {% if profiles_search %}
                    {% for profile in profiles_search %}
                    <div class="subject-mentor-link-background">
                        <div class="subject-mentor-link"> 
                            <a class="subject-mentor-link-2" href="{% url 'profile' profile.username %}">
                                <div class="profile-image">
                                    <img class="profile-image-2" src="{{profile.imageURL}}">
                                </div>
                                <div class="profile-description">
                                    <div class="profile-description-name">{{profile.username}}</div>
                                    {% if profile.classs %}
                                    <div class="profile-description-classs">
                                        <p class="profile-description-classs-label">Form:</p>
                                        {{profile.classs}}
                                    </div>
                                    {% endif %}
                                    {% if profile.short_intro %}
                                    <div class="profile-description-bio">{{profile.short_intro|slice:"60"}}</div>
                                    {% endif %}
                                    <div class="profile-description-votes">
                                        <div class="profile-description-vote">
                                            <p class="profile-description-vote-label">Students helped:</p>
                                            {{profile.vote_total}}
                                        </div>
                                        <div class="profile-description-vote">
                                            <p class="profile-description-vote-label">Rating:</p>
                                            {{profile.vote_ratio}}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    {% for profile in profiles %}
                    {% if profile.role == 'mentor' %}
                    <div class="subject-mentor-link-background">
                        <div class="subject-mentor-link"> 
                            <a class="subject-mentor-link-2" href="{% url 'profile' profile.username %}">
                                <div class="profile-image">
                                    <img class="profile-image-2" src="{{profile.imageURL}}">
                                </div>
                                <div class="profile-description">
                                    <div class="profile-description-name">{{profile.username}}</div>
                                    {% if profile.classs %}
                                    <div class="profile-description-classs">
                                        <p class="profile-description-classs-label">Form:</p>
                                        {{profile.classs}}
                                    </div>
                                    {% endif %}
                                    {% if profile.short_intro %}
                                    <div class="profile-description-bio">{{profile.short_intro|slice:"60"}}</div>
                                    {% endif %}
                                    <div class="profile-description-votes">
                                        <div class="profile-description-vote">
                                            <p class="profile-description-vote-label">Students helped:</p>
                                            {{profile.vote_total}}
                                        </div>
                                        <div class="profile-description-vote">
                                            <p class="profile-description-vote-label">Rating:</p>
                                            {{profile.vote_ratio}}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
