{% extends 'main.html' %}

{% block content %}
<div class="messagerooms-box-5">
    <div class="messagerooms-list-background-5">
        <div class="messagerooms-list-5">
            {% if request.user.profile.role == 'student' %}
            <a class="apply" href="{% url 'applyformentor' %}">
                <button class="footer-button">
                    <div class="svg-wrapper-1">
                      <div class="svg-wrapper-footer">
                        <svg class="arrow" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                        </svg>
                      </div>
                    </div>
                    <span>Стань Ментором</span>
                </button>
            </a>
            {% endif %}
            <p class="announcement">{{announcement}}</p>
        </div>
    </div>
</div>
<div class="buttons-1">
    <div class="button-1">
        <a href="{% url 'allmentors' %}">
            <button class="default-btn-subjects">
                Менторы
            </button>
        </a>
    </div>
    {% if request.user.profile.role != 'student' %}
    <div class="button-2">
        <a href="{% url 'allrequests' %}">
            <button class="default-btn-subjects">
                Запросы
            </button>
        </a>
    </div>
    {% endif %}
</div>
<div class="subjects-box">
    <div class="subjects-list-background">
        <div class="subjects-list">
            {% for subject in subjects %}
            <div class="name-background">
                <div class="name">
                    <div class="subject">
                        <a href="{% url 'mentors' subject.title %}" class="subject-link">
                            {{subject.title}}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}