{% extends 'main.html' %}

{% load static %}

{% block content %}

<p style="font-size: 70px;">Упс, Ошибка!</p>
<p>Пожалуйста, если вы не уверены из-за чего возникла ошибка, то обратитесь в службу поддержки onlystudentsapp@gmail.com</p>
<p>Чем больше багов и ошибок вы нам укажете, тем лучше и совершенне станет платформа.</p>
<p>Хорошего пользования, команда Onlystudents</p>
<br>
<br>
<br>
<p>Частые проблемы:</p>
<p>(Возможно вы не зарегистрировались на платформе или не вошли в свой аккаунт)</p>
<p>(Попробуйте перезайти на платформу или выбрать другой браузер)</p>
<p>(Ваша роль не позволяет сделать определенное действие: подайте заявку на роль ментора)</p>

{% endblock content %}