{% load static %}
<div class="navbar-background">
    <div class="navbar">
        <div class="left-section">
            <a href="{% url 'subjects' %}">
                <img class="logo" src="{% static 'styles/logo_small.png' %}">
            </a>
        </div>
        {% if page == 'mentors' or page == 'allmentors' %}
        <div class="middle-section">
            <form id="searchform" class="searchform" method="get">
                <div class="search-input-group">
                    <input required="" autocomplete="off" class="search-bar" type="text" name="search_query">
                    <label class="search-bar-label">Find a mentor</label>
                </div>
                <button class="search-button">
                    <img class="search-button-image" src="{% static 'styles/loupe.png' %}">
                </button>
            </form>
        </div>
        {% endif %}
        <div class="right-section">
            {% if request.user.is_authenticated %}
                {% if request.user.profile.role != 'teacher' %}
                <div>
                    <a href="{% url 'requests' request.user.profile.id %}"><img class="request-icon" src="{% static 'styles/mail.png' %}"></a>
                </div>
                {% endif %}
                {% if request.user.profile.role == 'teacher' %}
                <div>
                    <a href="{% url 'studentslist' %}"><img class="mentors-icon" src="{% static 'styles/mentors.png' %}"></a>
                </div>
                {% endif %}
            <a class="message-icon-a" href="{% url 'messageroomslist' %}">
                <img class="message-icon" src="{% static 'styles/email.png' %}">
            </a>
        
            <a class="account-icon-a" href="{% url 'account' %}">
                <img class="account-icon" src="{% static 'styles/user.png' %}">
            </a>
            <div class="login-logout-button-bg">
                <a href="{% url 'logout' %}" class="login-logout-button">Log Out</a>
            </div>
            {% else %}
            <div class="login-logout-button-bg">
                <a href="{% url 'login' %}" class="login-logout-button">Log In</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
